main {
    padding: 1em;
    max-width: 1000px;
    margin: auto;
    background-color: #1F2833;
}
.table-wrapper {
    overflow: auto;
    max-width: 100%;
    background: linear-gradient(to right, #1F2833 30%, rgba(255, 255, 255, 0)), linear-gradient(to right, rgba(255, 255, 255, 0), #1F2833 70%) 0 100%, radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
    background-repeat: no-repeat;
    background-color: #1F2833;
    background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
    background-position: 0 0, 100%, 0 0, 100%;
    background-attachment: local, local, scroll, scroll;
}
tr {
    border-bottom: 1px solid;
}
th {
    background-color: #555;
    color: #fff;
    white-space: nowrap;
}
td,
th {
    font-family: "Calibri", "Arial";
    text-align: left;
    padding: 0.5em 1em;
    color: #C5C6C7;
    font-size: 16px;
}
.numeric {
    text-align: right;
}
p {
    text-align: right;
    margin-top: 1em;
    font-style: italic;
}
table {
    border-collapse: collapse;
}
a,
a:active,
a:hover,
a:visited {
    color: #C5C6C7;
}
body {
    background-color: #1F2833;
}
h1 {
    color: #66FCF1;
    font-family: "Permanent Marker", "Calibri";
    text-align: center;
}