<!DOCTYPE html>
<html lang="en">

<!-- 
Copyright (c) 2021 by Olivia Ng (https://codepen.io/oliviale/pen/ZmvPPd)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->

<head>
    <title>All the software versions you need to know in one place!</title>
    <meta name="description" content="All the software versions you need to know in one place!" />
    <link rel="canonical" href="https://www.wallen.co" />
    <link rel="stylesheet" type="text/css" href="static/mobile.css" />
    <link rel="icon" href="static/favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h1>What's the latest version?</h1>
    <h5>The latest stable versions</h5>
    <div class="periodic-table">
        <% for (var i=0; i < softwareArray.length; i++ ) { %>
            <div class="periodic-element <%= softwareArray[i].box %>"><a
                    href="about/<%- softwareArray[i].name.replace(/ /g, ``) %>.html">
                    <div class="periodic-element-inner">
                        <div class="title">
                            <%= softwareArray[i].name %>
                        </div>
                        <div class="version">
                            <%= softwareArray[i].releaseVersion %>
                        </div>

                    </div>
                </a>
            </div>
            <% } %>
    </div>
</body>

</html>